@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* main */
	.main-container {
		@apply flex min-h-screen flex-1 flex-col items-center  px-6 pb-10 pt-28 max-md:pb-32 sm:px-10 text-white;
	}

	.leftsidebar {
		@apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r border-r-dark-4 bg-dark-2 pb-5 pt-28 max-md:hidden;
	}

	.leftsidebar_link {
		@apply relative flex justify-start gap-4 rounded-lg p-4;
	}

	.topbar {
		@apply fixed top-0 z-30 flex w-full items-center justify-between bg-dark-2 px-6 py-3;
	}
}

@layer utilities {
	.bg-cedh-blue {
		--tw-bg-opacity: 1;
		background-color: rgb(33 44 95 / var(--tw-bg-opacity));
	}

	.shadow-modal {
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
		--tw-shadow: 4px 4px 7px rgba(0, 0, 0, 0.07), -4px -4px 13px rgba(0, 0, 0, 0.07), 6px 6px 36px rgba(0, 0, 0, 0.06);
		--tw-shadow-colored: 4px 4px 7px var(--tw-shadow-color), -4px -4px 13px var(--tw-shadow-color),
			6px 6px 36px var(--tw-shadow-color);
	}

	.css-invert {
		@apply invert-[50%] brightness-200;
	}

	.custom-scrollbar::-webkit-scrollbar {
		width: 3px;
		height: 3px;
		border-radius: 2px;
	}

	.custom-scrollbar::-webkit-scrollbar-track {
		background: #09090a;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb {
		background: #5c5c7b;
		border-radius: 50px;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb:hover {
		background: #7878a3;
	}
}

/* Shadcn Component Styles */

/* Table */
.table tr {
	/* font-size: 1rem; */
	border-top-width: 0.5rem;
	border-bottom-width: 0.5rem;
	border-color: #0000;
}

.table th:nth-child(3) {
	width: 160px;
}

.table th:nth-child(4),
.table th:nth-child(5) {
	width: 120px;
}
