@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 47.4% 11.2%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 47.4% 11.2%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 100% 50%;
		--destructive-foreground: 210 40% 98%;

		--ring: 215 20.2% 65.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 224 71% 4%;
		--foreground: 213 31% 91%;

		--muted: 223 47% 11%;
		--muted-foreground: 215.4 16.3% 56.9%;

		--accent: 216 34% 17%;
		--accent-foreground: 210 40% 98%;

		--popover: 224 71% 4%;
		--popover-foreground: 215 20.2% 65.1%;

		--border: 216 34% 17%;
		--input: 216 34% 17%;

		--card: 224 71% 4%;
		--card-foreground: 213 31% 91%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 1.2%;

		--secondary: 222.2 47.4% 11.2%;
		--secondary-foreground: 210 40% 98%;

		--destructive: 0 63% 31%;
		--destructive-foreground: 210 40% 98%;

		--ring: 216 34% 17%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background;
		font-feature-settings: 'rlig' 1, 'calt' 1;
	}
	/* bg-gradient-to-r bg-main-blue to-indigo-700 */
}

@layer components {
	/* main */
	.main-container {
		@apply flex  flex-1 flex-row min-h-screen text-white;
	}

	/* side navbar */
	.navbar-base {
		@apply left-0 top-0 z-20 flex flex-col justify-between !h-screen !w-fit  overflow-auto border-r border-black  pb-5 pt-28 dark:bg-main-blue light:bg-green-blue max-md:hidden md:!w-1/12 md:hover:!w-2/12 !transition-all !duration-100;
	}

	.navbar-wrapper {
		@apply !flex-col !h-full;
	}

	.navbar-content {
		@apply !flex-col;
	}

	.navbar-item {
		@apply !flex-col;
	}

	.leftsidebar_link {
		@apply relative flex justify-start gap-4 rounded-lg p-4;
	}

	/* header */
	.topbar {
		@apply fixed top-0 z-30 flex w-full;
	}

	/* footer */
	.bottombar {
		@apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-glassmorphism p-4 backdrop-blur-lg  md:hidden;
	}

	/* xs:px-7 */

	.bottombar_container {
		@apply flex items-center justify-between gap-3 xs:gap-5;
	}

	.bottombar_link {
		@apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
	}

	/* background colors */

	.bg-main-blue {
		@apply bg-gradient-to-r from-bg-blue to-indigo-500;
	}

	.bg-blue {
		--tw-bg-opacity: 1;
		background-color: rgb(33 44 95 / var(--tw-bg-opacity));
	}

	.from-bg-blue {
		--tw-gradient-from: #212c5f var(--tw-gradient-from-position);
		--tw-gradient-to: rgb(33 44 95 / 0) var(--tw-gradient-to-position);
		--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
	}

	.bg-lighter-blue {
		--tw-bg-opacity: 1;
		background-color: rgb(66 99 204 / var(--tw-bg-opacity));
	}

	.bg-green-blue {
		--tw-bg-opacity: 1;
		background-color: rgb(33 204 33 / var(--tw-bg-opacity));
	}

	.bg-purple-blue {
		--tw-bg-opacity: 1;
		background-color: rgb(99 33 204 / var(--tw-bg-opacity));
	}

	.bg-grey-blue {
		--tw-bg-opacity: 1;
		background-color: rgb(204 204 204 / var(--tw-bg-opacity));
	}

	/* colors */

	.color-blue {
		--tw-bg-opacity: 1;
		/* fill: rgb(33 44 95 / var(--tw-bg-opacity)); */
		fill: blue;
	}

	.filter-main-blue {
		filter: invert(8%) sepia(79%) saturate(5209%) hue-rotate(197deg) brightness(95%) contrast(107%);
	}

	.filter-white {
		filter: invert(100%) sepia(0%) saturate(7490%) hue-rotate(73deg) brightness(101%) contrast(101%);
	}

	/* shadow */

	.shadow-modal {
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
		--tw-shadow: 4px 4px 7px rgba(0, 0, 0, 0.07), -4px -4px 13px rgba(0, 0, 0, 0.07), 6px 6px 36px rgba(0, 0, 0, 0.06);
		--tw-shadow-colored: 4px 4px 7px var(--tw-shadow-color), -4px -4px 13px var(--tw-shadow-color),
			6px 6px 36px var(--tw-shadow-color);
	}

	/*  fdf */

	.data-\[state\=open\]\:colors-open[data-state='open'] {
		@apply border-2 rounded-full transition-all duration-200 aspect-square;
	}

	.data-\[state\=closed\]\:colors-closed[data-state='closed'] {
		@apply border-transparent border-2 rounded-full transition-all duration-200 aspect-square;
	}
}

@layer utilities {
	.css-invert {
		@apply invert-[50%] brightness-200;
	}

	.custom-scrollbar::-webkit-scrollbar {
		width: 3px;
		height: 3px;
		border-radius: 2px;
	}

	.custom-scrollbar::-webkit-scrollbar-track {
		background: #09090a;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb {
		background: #5c5c7b;
		border-radius: 50px;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb:hover {
		background: #7878a3;
	}
}

/* 
=================
Table
=====================
*/

/* .table_container {
	max-width: 750px; 
	max-height: 500px; 
	margin: 0 auto;
	overflow: auto;
} */

caption {
	font-style: italic;
	font-size: 90%;
	margin-bottom: 10px;
}

.table {
	border-collapse: separate;
	border-spacing: 0 0.8rem;
	text-align: left;
}

.table th {
	text-indent: 1rem;
}
.table tr {
	padding: 0.5rem;
}

.table th.up {
	background-image: url('/ui/filters/TbArrowUp.svg');
}
.table th.down {
	background-image: url('/ui/filters/TbArrowDown.svg');
}
.table th.default {
	background-image: url('/ui/filters/TbArrowsUpDown.svg');
}

th.up,
th.default,
th.down {
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 1rem;
}

.no-visible-scrollbar {
	scrollbar-width: none;
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
	display: none;
}

/* .table th { 
position: relative; 
 } */

/* .table th.up::after { */
/* content: url('../public/assets/ui/filters/TbArrowUp.svg'); 
	content: '';
	background-image: url('../public/assets/ui/filters/TbArrowUp.svg');
	background-size: 1rem;
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
	width: 1rem; 
	height: 1rem;
 } */

/* .table th.down::after {
	content: url('../public/assets/ui/filters/TbArrowDown.svg');
	content: '';
	background-image: url('../public/assets/ui/filters/TbArrowDown.svg');
	background-size: 1rem; 
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
	width: 1rem; 
	height: 1rem;
} */

/* .table th.default::after {
	content: url('../public/assets/ui/filters/TbArrowsUpDown.svg');
	content: '';
	background-image: url('../public/assets/ui/filters/TbArrowsUpDown.svg');
	background-size: 1rem; 
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
	width: 1rem; 
	height: 1rem; 
} */

.table td {
	padding: 0.5rem;
}
